/* Explorer  */

.explorer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15rem;
    min-width: 15rem;
    background-color: #252526;
}

.explorer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.2rem;
    height: 2.1875rem;
    min-height: 2.1875rem;
    width: 100%;
    user-select: none;
}

.explorer-header-title {
    font-size: 0.7rem;
    color: #cccccc;
}

.explorer-header-more {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.125rem;
    margin-left: auto;
    margin-right: 2rem;
    border-radius: 0.125rem;
    color: #cccccc;
}

.explorer-header-more:hover {
    background-color: #33373b;
}

/* Explorer Categories */

.explorer-category-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    transition: height 70ms ease-out;
}

.explorer-category-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0 0 0.125rem;
    gap: 0.125rem;
    width: calc(100% - 0.125rem);
    height: 1.375rem;
    min-height: 1.375rem;
    cursor: pointer;
    color: #cccccc;
    user-select: none;
    /* background-color: #333842; */
}

.explorer-category-header span {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 1px;
}

.explorer-category-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 0;s */
    /* background-color: #21252b; */
    transition: height 100ms ease-out;
    border-bottom: 1px solid #474747;
}

.explorer-category-content:not(.hidden) { padding-bottom: 1em; }
.explorer-category-content.hidden { height: 0 !important; }
.explorer-category-content.hidden * { display: none; }

.explorer-content-folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    min-height: 1.375rem;
    user-select: none;
    cursor: pointer;
    /* padding-left: 10rem; */
}

.explorer-content-folder:hover {
    background-color: #2a2d2e;
}

.explorer-content-folder svg {
    margin: 0 0 1px 1rem;

}

.explorer-content-folder-name {
    font-size: 0.8125rem;
    color: #cccccc;
}

.explorer-content-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    min-height: 1.375rem;
    height: 1.375rem;
    user-select: none;
    cursor: pointer;
    /* padding-left: 10rem; */
}

.explorer-content-file:hover {
    background-color: #2a2d2e;
}

.explorer-content-file-name {
    font-size: 0.8125rem;
    margin: 0 0 1px 2.25rem;
    color: #cccccc;
    text-overflow: ellipsis;
    white-space: initial;
}

.explorer-content-file.selected {
    background-color: #37373d;
}