/* Content  */

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #282c34;
    /* background-color: red; */
}

.content-tabs {
    display: flex;
    flex-direction: row;
    height: 2.1875rem;
    min-height: 2.1875rem;
    width: 100%;
    background-color: #21252b;
}

.content-editor {
    flex: 1;
}