/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 3rem;
    background-color: #333333;
}

.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    min-height: 3rem;
    font-size: 1.5rem;
    color: #858585;
    aspect-ratio: 1 / 1;
    transition: color 50ms ease-out;
}

.sidebar-button:hover { color: #ffffff; }
.sidebar-button.selected { color: #ffffff; box-shadow: inset 0.125rem 0 0 #ffffff; }

.sidebar-bottom-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}