body {
    overflow: hidden;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #abb2bf;
    background-color: #282c34;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    height: 1.5rem;
    background-color: #21252b;
}

footer .left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

footer .right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.inner-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}
.inner-body.electron-margin { margin-top: 1.9rem; }