/* Electron Topbar */

.electron-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 1.9rem;
    min-height: 1.9rem;
    background-color: #3c3c3c;
    user-select: none;
    -webkit-app-region: drag;
}

/* Left */

.electron-menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-right: auto;
    font-size: 0.8rem;
    color: var(--color);
    cursor: auto;
    -webkit-app-region: none;
}

.electron-menu-left-img {
    display: flex;
    height: 1rem;
    margin: 0 0.6rem;
    aspect-ratio: 1 / 1;
    -webkit-app-region: drag;
}

.electron-menu-left-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem 1px;
    cursor: pointer;
    height: 100%;
}

.electron-menu-left-item:hover {
    background-color: #505050;
}

/* Middle */

.electron-menu-name {
    font-size: 0.75rem;
    font-weight: 400;
    flex-grow: 1;
    text-align: center;
    color: var(--color);
    text-overflow: ellipsis;
    min-width: 10rem;
}

/* Right */

.electron-menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-left: auto;
    font-size: 0.8rem;
    color: var(--color);
    cursor: auto;
    -webkit-app-region: none;

    /* background-color: red; */
}

.electron-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 2.75rem;
    height: 100%;
    color: var(--color);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 150ms ease-out, color 150ms ease-out;
}

.electron-menu-button:hover { background-color: rgba(255, 255, 255, 0.2); color: white; }
.electron-menu-button:hover.close { background-color: #d41324; color: white; }